/* General Styles */

* {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  font-family: Karla, sans-serif;
  letter-spacing: -0.25px;
  color: #0C2E56;
}

h1 {
  margin-top: 60px;
  font-size: 30px;
  letter-spacing: -0.85px;
}

a, a:hover, a:focus, a:visited {
  color: currentColor;
}

a:hover, a:focus {
  text-decoration: none;
  border-bottom: 1px currentColor dotted;
}

.section {
  position: relative;
  height: 554px;
}

.section.diagonal:before {
  position: absolute;
  content: '';

  left: 0;
  top: -60px;

  width: 100%;
  height: 120px;

  background: inherit;
  transform: skewY(-4.8deg);
  -webkit-backface-visibility: hidden;
}

.section .container {
  max-width: 960px;
  padding: 120px 0;
}

.content {
  text-align: center;
}


/*** Sections ***/

/* Splash */

nav {
  margin-top: 32px;
  overflow: auto;

  font-size: 16px;
}

nav .left-nav {
  float: left;
}

nav .right-nav {
  float: right;
}

nav a {
  color: white;
  opacity: 0.8;
}

nav a:not(:last-child) {
  margin-right: 20px;
}

nav a:hover {
  opacity: 1.0;
}

.splash {
  color: white;
  background-color: #2A96FF;
}

.splash .container {
  padding: 0;
}

/* Instructions */

.instructions {
  background-color: #F5FAFF;
}

/* Examples */

.examples {
  background-color: #F8E71C;
}

/* Sharing */

.sharing {
  background-color: #632699;
}

/* Download */

.download {
  background-color: #2B2B2B;
}

.download .container {
  padding-bottom: 0;
}

.download .content {
  height: 300px;
}

.download .download-btn {
  display: inline-block;
  margin: auto;
  padding: 0 27px;

  height: 84px;
  width: 312px;

  position: relative;
  z-index: 2;

  font-size: 24px;
  line-height: 84px;
  background-color: #2A96FF;
  opacity: 0.95;
}

.download-btn, .download-btn:hover {
  color: white;
  border: 0;
}

.download-btn .arrow-emoji {
  position: relative;
  top: 2px;

  padding-left: 6px;
}

.download-shadow {
  display: inline-block;
  margin: auto;

  height: 84px;
  width: 312px;

  position: absolute;
  z-index: 1;
  transform: translateX(5px) translateY(5px);

  background-color: #084988;
}

footer {
  font-size: 16px;
  text-align: center;
  color: white;
}

footer .footer-links {
  word-spacing: 20px;
}

footer .copyright {
  margin-top: 28px;
  opacity: 0.4;
}
