/* General Styles */

body {
  font-size: 24px;
  font-family: Karla, sans-serif;
  letter-spacing: -0.25px;
  color: #0C2E56;
}

h1 {
  font-size: 30px;
  letter-spacing: -0.85px;
}

a, a:hover, a:focus, a:visited {
  color: currentColor;
}

a:hover, a:focus {
  text-decoration: none;
  border-bottom: 1px currentColor dotted;
}

.section {
  height: 554px;
}

.section .container {
  max-width: 960px;
  padding: 120px 0;
}

.content {
  text-align: center;
}


/*** Sections ***/

/* Splash */

nav {
  margin-top: 32px;
  overflow: auto;

  font-size: 16px;
}

nav .left-nav {
  float: left;
}

nav .right-nav {
  float: right;
}

nav a {
  color: white;
  opacity: 0.8;
}

nav a:not(:last-child) {
  margin-right: 20px;
}

nav a:hover {
  opacity: 1.0;
}

.splash {
  color: white;
  background-color: #2A96FF;
}

.splash .container {
  padding: 0;
}

/* Examples */

.examples {
  background-color: #F8E71C;
}

/* Download */

.download {
  background-color: #2B2B2B;
}

.download .container {
  padding-bottom: 0;
}

.download .content {
  height: 300px;
}

footer {
  font-size: 16px;
  text-align: center;
  color: white;
}

footer .footer-links {
  word-spacing: 20px;
}

footer .copyright {
  margin-top: 28px;
  opacity: 0.4;
}
